html, body {
  background: #FFF;
  font-family: "Helvetica";
}

header {
  padding: 15px 0 15px 15px;
  border-bottom: 3px solid #006798;
  background: #00A3F1;
  overflow-y: auto;
  margin-bottom: 20px;
  display: block;
}

h1 {
  padding: 0;
  margin: 0;
  color: #FFF;
  font-weight: normal;
  float: left;
}

select {
  border: 2px solid #00A3F1;
  background: white;
  float: right;
}

select, label {
  font-size: 1.2em;
  float: right;
}

label {
  margin-right: 20px;
  color: #FFF;
}

#page {
  width: 1024px;
  margin: 0 auto;
}

#map {
  float: left;
  width: 418px;
}

#details {
  float: left;
}

#visualisation {
  width: 520px;
  float: right;
}
