<h1>UK Job Map<h1>
<%= form_tag "/", :method => "get" do -%>
  <%= select_tag("industry", industry_options.html_safe, :onchange => "this.form.submit();") %>
<% end -%>

<p>
  <% if @industry.present? -%>
    <%= image_tag "uk_region_map.png" %>
  <% else -%>
    <%= image_tag "empty_uk_region_map.png" %>
  <% end -%>
</p>